<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Signin</title>
</head>

<body>
    <%- include('./partials/nav') %>

        <div class="container mt-4">
            <form action="/user/signin" method="post">
                <fieldset>
                    <legend>Sign in</legend>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" id="email" class="form-control" placeholder="Enter your email" required name="email">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="text" id="password" class="form-control" placeholder="Enter your password" required name="password">
                    </div>


                    <button type="submit" class="btn btn-primary">Submit</button>
                </fieldset>
            </form>
        </div>

        <%- include('./partials/script') %>
</body>

</html>